<div class="col-md-8">
  <div class="index new-char">
    <h1>Who are you again?</h1>
    <br>

    <form id="new_character" action="/new_character" method="post">
      <input class="form-input-text" id="name" name="name" type="text" placeholder="Enter Name...">
      <button type="submit" class="btn">Set</button>
    </form>

    <a href="/intro" class="btn">Back</a>
  </div>
</div>
