/****************** GENERAL ********************/

body, a,
.new-char .btn {
  background-color: black;
  color: #FFFFFF;
  font-family: 'Press Start 2P', cursive;
}

.btn-lg {
  font-size: 36px;
}

.btn:hover,
.form-btn:hover {
  color: #008000;
  border-color: #008000;
  transition-duration: .2s;
}

.btn {
  border: 6px solid white;
  font-size: 18px;
  border-radius: 0px;
}

.turn .col-md-4,
.turn .col-md-8,
.event .col-md-8,
.event .col-md-4 {
  min-height: 300px;
}

.sm-main-imgs {
  display: none;
}

.index, .about {
  width: 100%;
  text-align: center;
  border: solid 12px #fff;
  padding: 4em 0;
  margin-top: 5%;
}

.prologue-text,
.instructions-text,
.turn-event {
  width: 40em;
  margin: 0 auto;
  text-align: left;
  padding: 1em 0 3em 0;
}


/****************** ABOUT/NEWGAME/INSTRUCTIONS ********************/

.logo {
  font-size: 6em;
}

/* about */
.about h1 {
  margin-top: 1em;
}

.about img {
  width: 50%;
}

/* new character form */
.new-char input {
  line-height: 50px;
  padding-bottom: 8px;
}

.new-char form {
  padding-bottom: 4em;
}

.new-char .btn {
  font-size: 24px;
}

.form-input-text {
  color: black;
  font-size: 18px;
}


/* instructions */
.cityscape {
  width: 90%;
}

.instructions h1 {
  margin-top: 1.2em;
}

.instructions-text {
  padding: 1em 0 0 0;
}

.instructions-text h4 {
  margin-bottom: 1.5em;
}

.crazy-maniacal-running {
  width:100px;
  height:200px;
  margin: 10%;
  animation-name: foo;
  transform: translate3d(100px, 100px, 0px);
  animation-iteration-count: infinite;
  clear:
}

@keyframes foo {
    0%   {left:0px; top:0px; transform: translate3d(50px, 40px, 0px);}
    25%  {left:200px; top:0px; transform: translate3d(50px, 50px, 0px);}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.bounceInLeft {
  -webkit-animation: bounceInLeft 1s, bounce 2s, bounceOutRight 3s;
  -webkit-animation-delay: 0s, 1.5s, 3s;
}


/****************** TURN ********************/

.header-block {
  border-bottom: 5px solid white;
  padding: 1em;
}

.turn .col-md-4,
.event .col-md-4 {
  border-right: 4px solid white;
}

.turn .col-md-8,
.turn .col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}

.turn,
.event {
  padding: 0;
}

.col-md-offset-2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* status bar */
.status {
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid white;
  padding: 5px;
}

.green-status-bar {
  color: #008000;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 1.1em;
}

.status strong {
  font-size: 20px;
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


/* character stats */
.stats-box {
  text-align: left;
  font-size: 12px;
}

#coffee,
#beer,
.stats-box {
  font: 12px;
}

.stats {
  text-align: right;
}

#coffee, #beer {
  padding: 0;
}

h5 {
  margin-top: 50px; /* vertically center align "or" */
}


/****************** EVENT ********************/

.event .btn {
  font-size: 14px;
}

.event a {
  margin-bottom: 20px;
}

.stat-results {
  margin-top: 30px;
  text-align: center;
}


/****************** WIN ********************/

.kyle {
  text-align: left;
  padding: 0 40px 40px 40px;
  line-height: .95em;
}

h4 {
  line-height: 1.5;
}
h3 {
  line-height: 1.5;
}


/* stats color */
.turn-content .positive-status {
  color: #06de00;
}

.turn-content .negative-status {
  color: #ff0000;
}

.positive-status {
  color: green;
}

.negative-status {
  color: red;
}


/**************** MEDIA QUERIES *******************/

@media screen and (max-width: 992px) {
  .stats-box {
    border-right: none;
  }

  .turn .col-md-4,
  .event .col-md-4 {
    border-right: none;
    border-bottom: 3px solid #fff;
  }

  .status strong {
    font-size: 15px;
  }

  .turn .col-md-4,
  .turn .col-md-8,
  .event .col-md-8,
  .event .col-md-4 {
    min-height: 260px;
  }

  .stats,
  .stat-labels {
    padding: 0 130px;
  }


  /* map */
  .col-md-offset-2 {
    padding-left: 15%;
  }

  .img-center img {
    width: 85%;
  }
}

@media screen and (max-width: 759px) {
  .status strong {
    font-size: 14px;
  }

  .stats,
  .stat-labels {
    padding: 0 130px;
  }
}

@media screen and (max-width: 670px) {
  .status strong {
    font-size: 12px;
  }

  .stats,
  .stat-labels {
    padding: 0;
  }

  #beer, #coffee {
    font-size: 10px;
  }
}


@media screen and (max-width: 600px) {

  /* general */
  .about h1,
  .intro h1,
  .instructions h1 {
    font-size: 1.5em;
  }

  .main-buttons .btn-lg,
  .prologue-text h4 {
    font-size: 12px;
  }

  .about h4,
  .main-page h3,
  .instructions h4 {
    font-size: 1em;
  }

  .status strong {
    font-size: 8px;
  }


  /* main page */
  .logo {
    font-size: 3.5em;
  }

  .main-imgs {
    display: none;
  }

  .sm-main-imgs {
    display: block;
  }

  /* about */
  .about img {
    width: 75%;
  }

  /* intro */
  .prologue-text,
  .instructions-text {
    width: 20em;
  }

  /* new character */
  .new-char .btn {
    font-size: 14px;
    margin-top: 20px;
  }

  .new-char input {
    line-height: 50px;
    width: 350px;
  }

  /* instructions */
  .instructions .animated {
    display: none;
  }

  /* turns */
  .stats,
  .stat-labels {
    padding: 0 40px;
  }

  .turn-event {
    width: 18em;
    padding-bottom: 1em;
  }
}
